
.container {
  background-color: #DED789;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  width: 450px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Rubik Mono One', monospace;
  color: #FFFFFF;
  font-size: 40pt;
}

.container-images {
  background-color: #686439;
  border-radius: 12px;
}

.image-wrapper {
  padding: 20px;
}

#time {
    font-size: 48px;
    margin: 20px 0;
  }

#message {
  margin-bottom: 10px;
  font-size: 18px;
}

button {
      padding: 10px 15px;
      margin: 5px;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background: #ffff;

     
    }

